* {
    margin: 0;
    padding: 0;
}
.bigBack {
    height: 100vh;
    width: 88%;
    margin-left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createHiihHeseg {
    height: fit-content;
    width: 55%;
    padding: 1%;
    background-color: rgba(220, 220, 220, 0.281);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
.box {
    display: flex;
    flex-direction: column;
    gap: 15px;  
    height: fit-content;
}
.image {
    width: 200px;
}