* {
  margin: 0;
  padding: 0;
}

.Users {
  overflow-x: scroll;
}
.bigContainer {
  margin: 0;
  width: 100vw;
  height: fit-content;
  display: flex;
}
.sideBars {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0 1% 0 1%;
}
.main {
  width: 80%;
}
.srchInput {
  width: 0;
}
