* {
  margin: 0;
  padding: 0;
}

.Users {
  overflow-x: scroll;
  height: 170px;
  width: 739px;
  border: 1px solid gray;
}
.bigContainer {
  margin: 0;
  width: 100vw;
  height: fit-content;
  display: flex;
}
.sideBars {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0 1% 0 1%;
  border: 1px solid gray;
  margin-left: 0px;
}
.main {
  width: 50%;
  background-color: #fafafa;
  margin-left: 300px;
  margin-top: 50px;
}
.srchInput {
  width: 0;
}
.menus {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@keyframes expand {
  0% {
    background-color: black;
  }
  50% {
    background-color: aqua;
  }
  100% {
    background-color: red;
  }
}

@keyframes dexpand {
  0% {
    background-color: purple;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
